.caret-up-div {
    height: 100%;
    -webkit-clip-path: polygon(50% 40%, 0 100%, 100% 100%);
    clip-path: polygon(50% 40%, 0 100%, 100% 100%);
    background-color: blueviolet;
    width: 30px;
}

.gallery-container {
    width: 90%;
}

.caretUp:hover {
    animation: caretUpAnimation 1s linear infinite;
}

@keyframes caretUpAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1199.98px) {
    .gallery-container {
        width: 95%;
    }
}

@media (max-width: 767.98px) {
    .gallery-container {
        width: 100%;
    }
}