.caret-up-div {
    height: 100%;
    -webkit-clip-path: polygon(50% 40%, 0 100%, 100% 100%);
    clip-path: polygon(50% 40%, 0 100%, 100% 100%);
    background-color: blueviolet;
    width: 30px;
}

.gallery-container {
    width: 90%;
}