.modal-container {
    position: fixed;
    display: block;
    z-index: 1;
    background: rgba(0,0, 0, 0.9);
    text-align: center;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container {
    height: 100%;
    width: 100%;
}

.modal-img {
    display: block;
    width: 70%;
    height: 65%;
  }

.modal-text {
    color: whitesmoke;
    font-size: 1.5rem;
}

.close-x {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close-x:hover,
.close-x:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-img, .modal-text {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@media (max-width: 1199.98px) {
  .modal-img {
    width: 90%;
    height: auto;
    max-height: 50%;
  }
}