.parallax-image {
    height: 100vh;
    background-image: url('https://cdn-images-1.medium.com/max/2600/1*lLNHg_D0ehCHzRLXgpglMA.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.h-35 {
    height: 35%;
}
.w-90 {
    width: 90%;
}

.cursor-pointer {
    cursor: pointer !important;
}

.angle-down-color {
    color: rgba(0,0,0,.5);
}
.angle-down-color:hover {
    color: rgba(0,0,0,.7)
}

.angle-scroll-down:hover {
    animation: scrollDown 1100ms linear infinite;
}

@keyframes scrollDown {
    0%{
        transform: translateY(0%);
    }
    50% {
        transform: translateY(50%);
        opacity: 0.8;
    }
    100% {
        transform: translateY(150%);
        opacity: 0;
    }
}
