.parallax-image {
    height: 100vh;
    background-image: url('https://cdn-images-1.medium.com/max/2600/1*lLNHg_D0ehCHzRLXgpglMA.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
