.parallax-image {
    height: 100vh;
    background-image: url('https://cdn-images-1.medium.com/max/2600/1*lLNHg_D0ehCHzRLXgpglMA.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.h-35 {
    height: 35%;
}

.cursor-pointer {
    cursor: pointer !important;
}

.angle-down-color {
    color: rgba(0,0,0,.5);
}
.angle-down-color:hover {
    color: rgba(0,0,0,.7)
}
