.img-shadow {
    -webkit-box-shadow: 10px 10px 13px 3px rgba(145, 145, 145, 1);
    -moz-box-shadow: 10px 10px 13px 3px rgba(145, 145, 145, 1);
    box-shadow: 10px 10px 13px 3px rgba(145, 145, 145, 1);
  }

  .animate-double-left:hover > .animate {
    animation: arrowAnimateLeft 1s linear infinite;
    color: orange !important;
  }

  .animate-double-left {
    width: 40px;
  }

  .service-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  .service-container {
    width: 100%;
  }

  @keyframes arrowAnimateLeft {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 1199.98px) {
    .service-content {
      flex-direction: column;
      align-items: center;
    }
    .animate-double-left {
      margin-bottom: 1.5rem;
    }
    .service-container {
      margin-top: 1.5rem;
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 575.98px) {
    .lead {
      font-size: 1rem !important;
      text-align: start;
    }
  }