.img-shadow {
    -webkit-box-shadow: 10px 10px 13px 3px rgba(145, 145, 145, 1);
    -moz-box-shadow: 10px 10px 13px 3px rgba(145, 145, 145, 1);
    box-shadow: 10px 10px 13px 3px rgba(145, 145, 145, 1);
  }

  .animate-double-left:hover > .animate {
    animation: arrowAnimateLeft 1s linear infinite;
    color: orange !important;
  }

  .animate-double-left {
    width: 40px;
  }

  .service-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  @keyframes arrowAnimateLeft {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 1025px) {
    .service-content {
      flex-direction: column;
      align-items: center;
    }
    .w-50 {
      width: 100% !important;
    }
  }