.card {
  width: 23%;
}

.card-image-container {
  width: 100%;
}
.card-image {
  height: 230px;
  width: 100%;
  display: block;
}
.card-shadow-box {
  -webkit-box-shadow: 10px 10px 13px 3px rgba(145, 145, 145, 1);
  -moz-box-shadow: 10px 10px 13px 3px rgba(145, 145, 145, 1);
  box-shadow: 10px 10px 13px 3px rgba(145, 145, 145, 1);
}

.animate-double-right:hover > .animate {
  animation: arrowAnimation 1s linear infinite;
}
.animate-double-right:hover {
  color: orange !important;
}

.nounderline:hover {
  text-decoration: none !important;
}

@keyframes arrowAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1199.98px) {
  .card {
    width: 45%;
    margin-bottom: 70px; 
  } 
}

@media screen and (max-width:991.98px) {
  .card {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .card {
    width: 90%;
    margin-bottom: 30px;
  }
}